html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f39c12;
}

body {
    font-family: Arial, Verdana, sans-serif    
}

header h1 {
    text-align: right;
    margin: 0;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

header h2 {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

h3 {
    text-align: center;    
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;    
}

.webcam_pannel {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width:100%;
    height: 525px;
    text-align: center;
}

.motor_pannel {
    float: left;
    width: 50%;
    height: 300px;
    text-align: center;
}

.servo_pannel {
    float: right;
    width: 50%;
    height: 300px;
    text-align: center;
}

.column {
    float: left;
    width: 25%;
}

#videoElement {
    width: 320px;
    height: 240px;
    background-color: #666;
}

#servoElement{
    text-align: center;
}

#servoTable{
    width:100%;
    padding-right: 100px;
    padding-left: 100px;
}

#motorTable{
    width:100%;
    padding-right: 20px;
    padding-left: 20px;
}

#rctCar{
    height:100px;
    background:green;
    width: 100%;
}